<div class="modal fade" id="showRegionAmpSequence" tabindex="-1" role="dialog"
	aria-labelledby="showRegionAmpSequenceTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="showRegionAmpSequenceTitle">Amplified Sequences</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead class="thead-dark">
							<th scope="col">Name</th>
							<th scope="col">Sequence</th>
							<th scope="col">BLAST</th>
							<th scope="col">UNITE</th>
							<th scope="col">Bold Systems</th>
							<th scope="col">PhytophthoraDB</th>
							<th scope="col">Notes</th>
						</thead>
						<tbody id="region_ampsequences">

						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>