<%- contentFor('body') %>
<% include ../partials/messages.ejs %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Dashboard</h1>
</div>
<h2>Insert data</h2>
<div class="row">
	<div class="col-sm-6 col-md-6 col-xl-4 mt-2">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Primers</h5>
				<h6 class="card-subtitle mb-2 text-muted">Insert data</h6>
				<p class="card-text">Use this page in order to add new primer data to database.</p>
				<a href="/dashboard/add_primers" class="card-link">Go to page</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-xl-4 mt-2">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Oligonucleotides</h5>
				<h6 class="card-subtitle mb-2 text-muted">Insert data</h6>
				<p class="card-text">Use this page in order to add new oligonucleotide data to database.</p>
				<a href="/dashboard/add_oligonucleotides" class="card-link">Go to page</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-xl-4 mt-2">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Target regions</h5>
				<h6 class="card-subtitle mb-2 text-muted">Insert data</h6>
				<p class="card-text">Use this page in order to add new target region data to database.</p>
				<a href="/dashboard/add_regions" class="card-link">Go to page</a>
			</div>
		</div>
	</div>
</div>
<h2 class="mt-5">Manage data tables</h2>
<div class="row">
	<div class="col-sm-6 col-md-6 col-xl-4 mt-2">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Primers</h5>
				<h6 class="card-subtitle mb-2 text-muted">Edit/Remove & Export data</h6>
				<p class="card-text">Use this page in order to edit or remove new primer data to database. You can also
					export the table data to .csv format.</p>
				<a href="/dashboard/manage_primers" class="card-link">Go to page</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-xl-4 mt-2">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Oligonucleotides</h5>
				<h6 class="card-subtitle mb-2 text-muted">Edit/Remove & Export data</h6>
				<p class="card-text">Use this page in order to edit or remove new oligonucleotide data to database. You
					can also export the table data to .csv format.</p>
				<a href="/dashboard/manage_oligonucleotides" class="card-link">Go to page</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-xl-4 mt-2">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Target regions</h5>
				<h6 class="card-subtitle mb-2 text-muted">Edit/Remove & Export data</h6>
				<p class="card-text">Use this page in order to edit or remove new target region data to database. You
					can also export the table data to .csv format.</p>
				<a href="/dashboard/manage_regions" class="card-link">Go to page</a>
			</div>
		</div>
	</div>
</div>