<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Upload pdf file</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="/dashboard/uploadpdf" method="POST" enctype="multipart/form-data">
				<div class="modal-body">
					<p>Select pdf file you want to upload:</p>
					<div class="input-group mb-3">
						<div class="custom-file">
							<input type="file" name="pdfup" class="custom-file-input" id="inputFile"
								aria-describedby="inputGroupFileAddon01">
							<label id="fileLabel" class="custom-file-label overflow-hidden" for="inputFile">Choose
								file</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" formaction="/dashboard/uploadpdf" class="btn btn-primary">Upload
						file</button>
				</div>
			</form>
		</div>
	</div>
</div>